<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="box box-success title" style="background-color: #d5f8da;">
    <h4>
      Edição de Cliente
    </h4>
  </div>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/cliente">Clientes</a></li>
    <li class="active"><a href="/cliente/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <!-- form start -->
        
        <form role="form" action="/cliente/{$cliente.pessoa_id}" method="post" enctype="multipart/form-data">
          <div class="box-body">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="nome">Nome</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="nome" id="nome" onkeyup="convertLowToUpper(nome)" value="{$cliente.nome}" autofocus="autofocus" required>
              </div>
              
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="nrocelular">Telefone</label>
                <input type="text" class="form-control" name="nrocelular" id="nrocelular" value="{$cliente.nrocelular}" maxlength="11" required>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="classificacao_id">Classificação</label><strong class="obrigatorio"> *</strong>
                <select class="form-control" name="classificacao_id" id="classificacao_id" required>
                  {loop="$classificacoes"}
                  {if="$value.classificacao_id == 3"}
                  <option value="{$value.classificacao_id}">{$value.descricao}</option>
                  {/if}
                  {/loop}
                </select>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                {if="$_SESSION['User'].inadmin == 1"}
                <label for="situacao">Situação</label>
                <select class="form-control" name="situacao" id="situacao">
                  <option value="0"{if="$cliente.situacao == 0"}selected{/if}>ATIVO</option>
                  <option value="1"{if="$cliente.situacao == 1"}selected{/if}>INATIVO</option>
                </select>
                {/if}
              </div>
            </div>
          </div>
         
          <!-- /.box-body -->
          <div class="box-footer">
            <input type="submit" id="compra" class="btn btn-success" value="Atualizar Visita">
            
            <a href="/cliente?limit=10" class="btn btn-warning">Voltar</a>
            
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
