<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Clientes
    </h1>
    <ol class="breadcrumb">
      <li><a href="/cliente"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Clientes</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="box box-primary">
      <div class="col form-control top">
        <div class="row">
          <div class="col col-md-4">
            <form action="/cliente/create" method="get">
              <input type="submit" name="cliente" class="btn btn-success" value="Cadastrar Cliente">
              {if="$_SESSION['User'].inadmin == 1"}
                <a href="/relatorio" name="relatorio" class="btn btn-primary pull-right" target="_blank">Relatório Cliente</a>
              {/if}
              
            </form>
          </div>
          
          <form action="/cliente" method="get" {if="!$clientes"}hidden{/if}>
            <div class="col col-md-2"></div>
            <div class="col col-md-2"><label for="nome">Nome</label><input type="text" name="nome" id="nome" class="form-control"></div>
            <div class="col col-md-2"><label for="nrocelular">Telefone</label><input type="text" name="nrocelular" id="date_save" class="form-control" maxlength="11" onChange="replaceSlash(date_save)"></div>
            <div class="col col-md-1"><label for="limit">Qtde</label>
              <select name="limit" id="limit" class="form-control">
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
              </select>
            </div>
            <input type="submit" name="search" class="btn btn-primary" value="Pesquisar">
          </form>
        </div>
      </div>
    </div>
    <div id="msg{if="$msg.state == 'SUCCESS'"}-success{else}-danger{/if}" 
          class="box box-{if="$msg.state == 'SUCCESS'"}-success{else}danger{/if}" 
          {if="$msg.state != 'SUCCESS' && $msg.state != 'ERROR' && $msg.state != 'ERROR'"}readonly hidden{/if}>
      <div class="msg"><input type="text" class="form-control msg-{if="$msg.state == 'SUCCESS' "}success alert-success{else}danger alert-danger{/if}" name="msg" value="{$msg.msg}" ></div>
    </div>
    <div id="msg{if="$msgW.state == 'WARNING'"}-warning{/if}" 
          class="box box-{if="$msgW.state == 'WARNING'"}-warning{/if}" 
          {if="$msgW.state != 'WARNING'"}readonly hidden{/if}>
      <div class="msg"><input type="text" class="form-control msg-{if="$msgW.state == 'WARNING' "}warning alert-warning{/if}" name="msgW" value="{$msgW.msg}" ></div>
    </div>
    <!--Paginação-->
    <div class="box box-primary" {if="!$pgs"}hidden{/if}>
      <div class="row">
        <div class="col col-md-12">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {$i = 1}
              {loop="$pgs"}
              
              <li><a href="cliente?pg={$i}{if="$pgs.list.nome"}&nome={$pgs.list.nome}{/if}">{$i++}</a></li>
              {/loop}
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--Fim Paginação-->
    <div class="box box-primary" {if="!$clientes"}hidden{/if}>
      <div class="box-body no-padding">
        <table class="table table-straped">
          <thead class="thead-dark">
            <tr class="alert-warning">
              <th>Nome</th>
              <th>Telefone</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            {if="$msgW.state != 'WARNING'"}
            {loop="$clientes"}
            <tr>
              <td>{$value.nome}</td>
              <td>{$value.nrocelular}</td>
              <td>
                <a href="/cliente/{$value.pessoa_id}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                {if="$_SESSION['User'].inadmin == 1"}<a href="{if="$_SESSION['User'].inadmin == 1"}/cliente/{$value.pessoa_id}/delete{else}#{/if}" onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>{/if}
              </td>
            </tr>
            {/loop}
            {/if}
          </tbody>
        </table>
      </div>
    </div>
    <!--Paginação-->
    <div class="box box-primary" {if="!$pgs"}hidden{/if}>
      <div class="row">
        <div class="col col-md-12">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {$i = 1}
              {loop="$pgs"}
              <li><a href="cliente?pg={$i}{if="$pgs.list.nome"}&nome={$pgs.list.nome}{/if}">{$i++}</a></li>
              {/loop}
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--Fim Paginação-->
  </section>
</div>
