<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="box box-success title" style="background-color: #d5f8da;">
    <h4>
      Edição de Visita
    </h4>
  </div>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/visitant">Visitas</a></li>
    <li class="active"><a href="/visitant/create">Cadastrar</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-success">
        <!-- form start -->
        
        <form role="form" action="/visitant/{$visitant.visitant_id}" method="post" enctype="multipart/form-data">
       
          <div class="box-body">
            <div class="col col-md-2">
              <div class="form-group">
                <label for="dt_save">Data do Cadastro</label>
                <input type="text" class="form-control" name="dt_save" id="dt_save" value="{$visitant.dt_save}" autofocus="autofocus" readonly>
              </div>
              
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="situation">Situação</label>
                <select class="form-control" name="situation" id="situation">
                  <option value="0" {if="$visitant.situation == 0"}selected{/if}>ATIVO</option>
                  <option value="1" {if="$visitant.situation == 1"}selected{/if}>INATIVO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="name_person">Nome</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="name_person" id="name_person" onkeyup="convertLowToUpper(name_person)" value="{$visitant.name_person}" autofocus="autofocus" required>
              </div>
              
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="rg_person">RG</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="rg_person" id="rg_person" value="{$visitant.rg_person}" onKeyUp="convertLowToUpper(rg_person)" required>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="cpf_person">CPF</label>
                <input type="text" class="form-control" name="cpf_person" id="cpf_person" value="{$visitant.cpf_person}" onKeyUp="convertLowToUpper(rg_person)">
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" value="{$visitant.email}">
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="col col-md-2">
              <div class="form-group">
                <label for="phonenumber">Telefone</label>
                <input type="text" class="form-control" name="phonenumber" id="phonenumber" value="{$visitant.phonenumber}">
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="company">Empresa</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="company" id="company" value="{$visitant.company}" onkeyup="convertLowToUpper(company)" required>
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="reason">Motivo da Visita</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="reason" id="reason" value="{$visitant.reason}" onkeyup="convertLowToUpper(reason)" required>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="situation">Situação</label>
                <select class="form-control" name="situation" id="situation">
                  <option value="0"{if="$visitant.situation == 0"}selected{/if}>ATIVO</option>
                  <option value="1"{if="$visitant.situation == 1"}selected{/if}>INATIVO</option>
                </select>
              </div>
            </div>
            
          </div>
          <div class="box-body">
            <div class="col col-md-1">
              <div class="form-group">
                <label for="badge">Crachá</label><strong class="obrigatorio"> *</strong>
                <select class="form-control" name="badge" id="badge" required>
                  {$i = 1}
                  <option value=""></option>
                  {loop="$j"}
                  <option value="{$i}"{if="$visitant.badge == $i"}selected{/if}>{$i++}</option>
                  {/loop}
                </select>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="auth">Autorização</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="auth" id="auth" value="{$visitant.auth}" onkeyup="convertLowToUpper(auth)" required>
              </div>
            </div>
            <div class="col col-md-3">
              <div class="form-group">
                <label for="sign">Assinatura</label><strong class="obrigatorio"> *</strong>
                <input type="text" class="form-control" name="sign" id="sign" value="{$visitant.sign}" onkeyup="convertLowToUpper(sign)" required>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="daydate">Data do Dia</label>
                <input type="text" class="form-control" id="daydate" name="daydate" value="{$visitant.daydate}" readonly>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="dayhour">Hora do Dia</label>
                <input type="text" class="form-control" id="dayhour" name="dayhour" value="{$visitant.dayhour}" readonly>
              </div>
            </div>
            <div class="col col-md-2">
              <div class="form-group">
                <label for="classification_id">Classificação</label><strong class="obrigatorio"> *</strong>
                <select class="form-control" name="classification_id" id="classification_id" required>
                  <option value=""></option>
                  {loop="$classifications"}
                  <option value="{$value.classification_id}" {if="$visitant.classification_id == $value.classification_id"}selected{/if}>{$value.description}</option>
                  {/loop}
                </select>
              </div>
            </div>
          </div>
         
          <!-- /.box-body -->
          <div class="box-footer">
            <input type="submit" id="compra" class="btn btn-success" value="Atualizar Visita">
            
            <a href="/visitant?limit=10" class="btn btn-warning">Voltar</a>
            
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
